<app-header titulo="Cadastro"></app-header>

<ion-content class="ion-padding">

 <!--  <form [formGroup]="cadastroForm" (submit)="cadastro()">
    <p>Junte-se a nós e comece a explorar um mundo de receitas deliciosas, dicas de cozinha e muito mais!</p>
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input type="text" formControlName="nome"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit">Cadastrar</ion-button>
    <p>Você já possui uma conta? <a routerLink="/home">Faça login aqui</a>.</p>
  </form> -->



  <form #form="ngForm" (ngSubmit)="cadastro(form)">
    <p>Junte-se a nós e comece a explorar um mundo de receitas deliciosas, dicas de cozinha e muito mais!</p>
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input type="text" name="nome" ngModel></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" name="email" ngModel></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password" name="password" ngModel></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit">Cadastrar</ion-button>
    <p>Você já possui uma conta? <a routerLink="/home">Faça login aqui</a>.</p>
  </form>

</ion-content>
